CODE_SIGN_ENTITLEMENTS = azooKeyMac/ConverterServer.entitlements
CODE_SIGN_STYLE = Automatic
CURRENT_PROJECT_VERSION = 1
DEVELOPMENT_TEAM = 9S3UXHYP65
ENABLE_HARDENED_RUNTIME = YES
GENERATE_INFOPLIST_FILE = YES
INFOPLIST_KEY_LSBackgroundOnly = YES
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @executable_path/../../../../Frameworks
MACOSX_DEPLOYMENT_TARGET = 13.0
MARKETING_VERSION = 1.0
PRODUCT_BUNDLE_IDENTIFIER = dev.ensan.inputmethod.azooKeyMac.ConverterServer
PRODUCT_NAME = $(TARGET_NAME)
REGISTER_APP_GROUPS = YES
SKIP_INSTALL = YES
SWIFT_OBJC_INTEROP_MODE = objcxx
SWIFT_VERSION = 6.0
